# Code
artifacts/
src/Sifter/bin/
src/Sifter/obj/
tests/Sifter.PerformanceTests/bin/
tests/Sifter.PerformanceTests/obj/
tests/Sifter.Tests/bin/
tests/Sifter.Tests/obj/

# Standard VS folders
**/packages/*
!**/packages/build/

.vs/
**/*.user

# Tools
_NCrunch_*/
tools/*
!tools/packages.config